<div id="book_rating">
 <script>
 javascript:
  $('#book_rating').raty({
  cancel:     true,
  cancelOff:  'cancel-off.png',
  cancelOn:   'cancel-on.png',
  half:       true,
  size:       24,
  starHalf:   'star-half.png',
  starOff:    'star-off.png',
  starOn:     'star-on.png',
  scoreName: "book[star]"
  });
 </script>
</div>